{include file="common/header" /}
  <body>
    {include file="common/top" /}

    <div class="container">
    <div class="page-header" >
    </div>
    <div class="col-md-12 center-block">
      <h3 style="color:gray;font-family:Microsoft Yahei;">写下今天发生的事情吧，或者此时此刻你的心情...</h3>
      <form class="form-signin" action="{:url('/blog')}" method="POST" role="form">
        <div class="form-group  required"><label class="control-label" for="body">What is on your mind ?</label>
          <textarea class="form-control" id="flask-pagedown-body" name="body" required></textarea>
        </div>
        <button id="sighBtn" type="submit" class="btn btn-primary">发布</button>
      </form>
    </div>
  </div>

    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>