{if $body}
  {volist name="body" id="posts"}
        <ul class="posts" >
          <li class="post">
            <div class="post-thumbnail">
              <a href="{:url('index/index/user/info')}">
                <img class="img-rounded profile-thumbnail" src="/public/uploads/{$posts.pic_path}" style="width: 40px;height: 40px;">
              </a>
            </div>
            <div class="post-content">
              <div class="post-date"><span>{$posts.timestamp}</span></div>
              <div class="post-author"><a href="{:url('index/user/friend_address',[$posts.author =>'123'])}">{$posts.author}</a></div>
              <div class="post-body">
                <p>{$posts.body}</p>
              </div>
              <div class="post-footer">
                {if $posts->is_like eq true }
                <button id="like_btn_{$posts.id}" class="btn btn-success btn-xs" onclick="liked({$posts.id},'{$user_data.email}')"><span>{$posts.liked}</span> Likes</button>
                {else}
                <button id="like_btn_{$posts.id}" class="btn btn-primary btn-xs" onclick="liked({$posts.id},'{$user_data.email}')"><span>{$posts.liked}</span> Likes</button>
                {/if}
                <a href="{:url('/comments',['id'=>$posts.id])}" class="btn btn-primary btn-xs">{$posts.comments} Comments</a>
                {if $user_data.email eq $posts.author}
                <button class="btn btn-danger btn-xs" onclick="del({$posts.id})">Delete</button>
                {/if}
              </div>
            </div>
          </li>
        </ul>
        {/volist}
        <dir id="render">{$body->render()}</dir>
        {/if}
