{include file="common/header" /}
  <body>
    {include file="common/top" /}
    <div class="jumbotron">
      <div class="container">
        <h1>Hello, <span style="color:#c9c; ">{$user_data.nickname}</span> !</h1>
        <p><strong style="color:#630;">天地悠悠，大道至简。</strong></p>
        <p><strong style="color:#630;">"Simple-Talk": 纯文字短心情博客, 这里没有表情, 一切的心情通过你的文字所表达。 </strong></p>
        <p><strong style="color:#630;">这弹丸之地初衷是希望文字能真正纯粹而简单, 思你所想, 畅所欲言。简单、富足而快乐~愿你能在这片简单的地方领略到文字的纯粹魅力! 如果你已经准备好试玩一下的话, 注册完点击下面"分享心情"按钮吧!</strong></p>
        <p><i style="color:#777;">Tips: 自由, 即是这里的唯一规则, 当然, 也可以用颜文字来表达此时你的心情, 比如说: </i>&nbsp;&nbsp; :) &nbsp;&nbsp;&nbsp; :(&nbsp;&nbsp;&nbsp; =)&nbsp;&nbsp;</p>
        <p><a class="btn btn-primary btn-lg" href="{:url('index/index/blog')}" role="button">分享心情.. &raquo;</a></p>
      </div>
    </div>
    <div class="container">
      <div class="post-tabs" id="mu">
        <ul class="nav nav-tabs">
          <li class="active">
            <a id="My" onclick="clickChangeColorAndTag('My')" style="color:#96F;">My</a>
          </li>
          <li class="active">
            <a id="Followings" onclick="clickChangeColorAndTag('Followings')">Followings</a>
          </li>
          <li class="active">
            <a  id="All" onclick="clickChangeColorAndTag('All')">All</a>
          </li>  
        </ul>
        <div id="ajax">
          {include file="index/change_tag" /}
        </div>
      </div>
    </div>


    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript">
      var tags = new Array("My","Followings","All");
      var currnet_tag = 'My';

      function liked(post_id, post_author){
        $.ajax({
          url:"{:url('index/index/like')}",
          data:{id:post_id,email:post_author},
          type:"POST",
          success: function(data){
            if(data.is_like == 1){
              alert('您已经点过赞了！');
            }else{
              var btn = '#like_btn_' + post_id;
              var btn_span = '#like_btn_' + post_id + ' span';
              var liked_counts = data.liked_count ;

              $(btn_span).html(liked_counts);
              $(btn).attr("class", "btn btn-success btn-xs"); 
            }  
          },
       });
     };

      function del(post_id){
        var confirm_message = confirm('是否删除该条心情?');
        if(confirm_message==true){
          var temp = document.createElement("form");        
          temp.action = "{:url('index/index/delete')}";        
          temp.method = "post";        
          
          var opt = document.createElement("textarea");    
          opt.name = 'post_id';
          opt.value = post_id;
          temp.appendChild(opt);   
          document.body.appendChild(temp);        
          temp.submit();      
          return temp;  
        }
      };

      //ajax跳转：tag=心情标签（all，my） page=第几页
      function ajax_jump(tag, page){
        $.ajax({
          url:"{:url('index/index/change_tag')}",
          data:{tag:tag,pages:page},
          type:"POST",
          success: function(data){
            $("#ajax").html(data);
        },
       });
      };

      function clickChangeColorAndTag(tag){
        if ('{$user_data.nickname}'=='Stranger') {
          alert('麻烦先登录一哈~');
          return 
        }

        for (var i = 0; i <= 2; i++) {
              var temp = '#' + tags[i];
              if (tags[i]==tag) {
                $(temp).attr("style", "color:#96F;"); 
                currnet_tag = tag;
              }else{
                $(temp).attr("style", "color:#444;");
              }
        }
        ajax_jump(tag, 1);
     };

      function page_jump(page){
        ajax_jump(currnet_tag, page);
        $("#render").html('{$page}');
      };
    </script>
  </body>
</html>