{include file="common/header" /}
  <body>
    {include file="common/top" /}
    
    <div class="container">
      <div class="page-header" >
        <h1 class="text-center">Search</h1>
      </div>
      <div class="col-md-6 center-block">
        <form class="form-signin" action="{:url('index/user/friends')}" method="POST" role="form">
          <div class="form-group  required"><label class="control-label" for="email">搜索好友的Email</label>
              <input  id="email" type="text" placeholder="Email" class="form-control" name="email" required>
          </div>
          <button id="sighBtn" type="submit" class="btn btn-lg btn-success btn-block login-button">Search</button>
        </form>
      </div>
    </div>

    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>