{include file="common/header" /}
<body>
  {include file="common/top" /}
  <div class="container">
    <div class="page-header"><h1>Edit Your Profile</h1></div>
    	<img id="update_img" class="img-rounded profile-thumbnail" src="/public/uploads/{$user_data.pic_path}">
      <div class="profile-header" style="min-height: 240px;margin-left: 280px;">
        <div class="col-md-4">
          <form action="{:url('index/user/update')}" enctype="multipart/form-data" method="post" class="form" role="form">  
            <div class="form-group "><label class="control-label" for="about_me">About me</label>
              <textarea class="form-control" id="about_me" name="about_me"></textarea>
            </div>
            <div class="form-group "><label class="control-label" for="about_me">修改头像</label>
              <input type="file" name="image" >
            </div>
            <input type="submit" value="修改" class="btn btn-success">
          </form>
        <div>
          <form method="post" enctype="multipart/form-data" action="{:url('index/user/info')}">
        </form>
        </div>
        
      </div>
  </div>
</div>

  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>